.basket {
    padding: 30px 0;
}

.basket .col-3 img {
    width: 75%;
    padding: 10px;
}

.sh-c {
    font-size: 26px;
    font-weight: 700;
}

.basket .title-price {
    font-weight: 700;
}

.basket p {
    margin: 0;
}

.pr-list {
    margin-bottom: 50px;
    gap: 20px;
}

.prod-total input {
    width: 30px;
}


.basket .trash svg {
    font-size: 19px;
    stroke-width: 0.5px;

}